@import url("https://fonts.googleapis.com/css2?family=Quicksand:wght@300..700&display=swap");

.quicksand {
  font-family: "Quicksand", serif;
  font-optical-sizing: auto;
  font-weight: 400;
  font-style: normal;
}

.display-flex {
  display: flex;
}
.navbar {
  justify-content: space-around;
}
.menu {
  list-style: none;
  margin-right: 45px;
  align-items: center;
}
.nav-link-0 {
  text-decoration: none;
  font-weight: 500;
  font-size: 20px;
  color: orange;
}
.nav-link-1 {
  text-decoration: none;
  font-weight: 500;
  font-size: 20px;
  color: skyblue;
}
.nav-link-2 {
  text-decoration: none;
  font-weight: 500;
  font-size: 20px;
  color: #05d4df;
}
.nav-link-3 {
  text-decoration: none;
  font-weight: 500;
  font-size: 20px;
  color: #5d58ef;
}

.btn-1 {
  background-color: orange;
  color: white;
  padding: 10px 10px 10px 10px;
  width: 197px;
  height: 50px;
  border: none;
  font-weight: 600;
  border-radius: 12px;
  margin-left: 186px;
}

/* content */
.empower{
    font-weight: 700;
    color: orange;
    font-size: 56px;
    
}
.age{
    font-weight: 700;
    color: black;
    font-size: 56px;
}
.vision{
    color: skyblue;
    font-size: 56px;
    font-weight: 700;
}
.enroll{
    /* margin-left: 20px;
    margin-right: 20px; */
    margin: 200px 200px;
}
/* main */
.h1{
    font-weight: 700;
    font-size: 46px;
    color: #000000;
  
}
.bg-1 {
  background-image: url(../B11-A2-Kids-School/assets/bg.png);
  background-size: cover;
  height: 100vh;
    text-align: center;
}
.Curriculum-container{
    display: flex;
    gap: 28.29px;
    
}
.Curriculum{
    padding:40.67px ;
    box-shadow: 0px 0px 28.3px 0.94px rgba(0, 0, 0, 0.05);
    border-radius: 18.86px;
   
}
.kinder{
     text-decoration: none;
  font-weight: 700;
  font-size: 15.09px;
  color: #64C8FF;
}
.elementary{
 text-decoration: none;
  font-weight: 700;
  font-size: 15.09px;
  color: #F0AA00;
}
.middle{
 text-decoration: none;
  font-weight: 700;
  font-size: 15.09px;
  color: #8700FF;
}
#grad-1{
    background-image: linear-gradient(to top,white, #DEF5FF );
   
}
#grad-2{
    background-image: linear-gradient(to top,white, #FFF4DC );
   
}
#grad-3{
    background-image: linear-gradient(to top,white, #F2E8FF );
   
}
.btn-2{
    border: none;
    border-radius: 30px;
    color: white;
    background-color: orange;
    margin-top: 80px;
}