@import url("https://fonts.googleapis.com/css2?family=Quicksand:wght@300..700&display=swap");
body {
  margin: auto;
}
.quicksand {
  font-family: "Quicksand", serif;
  font-optical-sizing: auto;
  font-weight: 400;
  font-style: normal;
}
@import url("https://fonts.googleapis.com/css2?family=Raleway:ital,wght@0,100..900;1,100..900&display=swap");
.raleway {
  font-family: "Raleway", serif;
  font-optical-sizing: auto;
  font-weight: 500;
  font-style: normal;
  color: #666666;
}

.display-flex {
  display: flex;
}
.navbar {
  justify-content: space-around;
  display: flex;
  padding: 10px;
  margin-top: 10px;
}
.menu {
  list-style: none;
  margin-right: 45px;
  align-items: center;
}
.nav-link-0 {
  text-decoration: none;
  font-weight: 500;
  font-size: 20px;
  color: orange;
}
.nav-link-1 {
  text-decoration: none;
  font-weight: 500;
  font-size: 20px;
  color: skyblue;
}
.nav-link-2 {
  text-decoration: none;
  font-weight: 500;
  font-size: 20px;
  color: #05d4df;
}
.nav-link-3 {
  text-decoration: none;
  font-weight: 500;
  font-size: 20px;
  color: #5d58ef;
}

.btn-1 {
  background-color: orange;
  color: white;
  padding: 10px 10px 10px 10px;
  width: 197px;
  height: 50px;
  border: none;
  font-weight: 600;
  font-size: 15.34px;
  border-radius: 12px;
  margin-left: 186px;
}

/* content */
.empower {
  font-weight: 700;
  color: orange;
  font-size: 56px;
}
.age {
  font-weight: 700;
  color: black;
  font-size: 56px;
}
.vision {
  color: skyblue;
  font-size: 56px;
  font-weight: 700;
}
.enroll {
  display: flex;

  align-items: center;

  gap: 50px;
  /* margin: 100px 100px; */
  margin-left: 100px;
  margin-right: 100px;
}
/* main */
.h1 {
  font-weight: 700;
  font-size: 46px;
  color: #000000;
}
.bg-1 {
  background-image: url(../B11-A2-Kids-School/assets/bg.png);
  background-size: cover;
  background-repeat: no-repeat;

  text-align: center;
}
.Curriculum-container {
  display: flex;
  gap: 28.29px;
  margin-top: 100px;
  padding-left: 80px;
  padding-right: 80px;
  margin-bottom: 100px;
}
.Curriculum {
  padding: 40.67px;
  box-shadow: 0px 0px 28.3px 0.94px rgba(0, 0, 0, 0.05);
  border-radius: 18.86px;
}
.kind-1 {
  margin: 52px 115px;
}
.kinder {
  text-decoration: none;
  font-weight: 700;
  font-size: 15.09px;
  color: #64c8ff;
}
.elementary {
  text-decoration: none;
  font-weight: 700;
  font-size: 15.09px;
  color: #f0aa00;
}
.middle {
  text-decoration: none;
  font-weight: 700;
  font-size: 15.09px;
  color: #8700ff;
}
#grad-1 {
  background-image: linear-gradient(to top, white, #def5ff);
}
#grad-2 {
  background-image: linear-gradient(to top, white, #fff4dc);
}
#grad-3 {
  background-image: linear-gradient(to top, white, #f2e8ff);
}
.btn-2 {
  border: none;
  border-radius: 100px;
  color: white;
  padding: 10px 13px;
  background-color: orange;

  margin-bottom: 20px;
}
.btn-3 {
  border: none;
  border-radius: 12px;
  color: white;
  background-color: black;
  margin: 80px 60px;
  padding: 10px 61px;
  align-content: center;
}
.btn-4 {
  border: none;
  border-radius: 12px;
  color: white;
  background-color: black;
  padding: 10px 61px;
}
.Our {
  margin: 60px;
  font-weight: 700;
  font-size: 46px;
  text-align: center;
}
.str {
  display: flex;
  gap: 20px;
  align-items: center;
  flex: auto;
  justify-content: center;
  padding-left: 100px;
  padding-right: 100px;
}
.bg-2 {
  background-image: url(../B11-A2-Kids-School/assets/bg.png);
  background-size: cover;
  background-repeat: no-repeat;
}

#grad-x {
  background-image: linear-gradient(to bottom, white, rgb(246, 215, 160));
}

.storie {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  gap: 20px;
}
.stories {
  background-color: white;
  border-radius: 16px;
  /* padding: 0px 0px 10px; */
}
.image-container {
  border-radius: 16px;
  width: 100%;
  padding: px;
}
.kidd {
  width: 100%;
  border-radius: 16px;
}
.item {
  background-color: #3cd8e8;
  color: white;
  position: relative;
  padding: 10px;
  width: 174px;
  height: 40px;
  border: none;
  font-weight: 500;
  border-radius: 47px;
  margin-left: 16px;
  margin-top: -45px;

  align-content: center;
  text-align: center;
}
.item1 {
  background-color: #95b226;
  color: white;
  position: relative;
  padding: 10px;
  width: 174px;
  height: 40px;
  border: none;
  font-weight: 500;
  border-radius: 47px;
  margin-left: 16px;
  margin-top: -45px;

  align-content: center;
  text-align: center;
}
.item2 {
  background-color: #5d58f0;
  color: white;
  position: relative;
  padding: 10px;
  width: 174px;
  height: 40px;
  border: none;
  font-weight: 500;
  border-radius: 47px;
  margin-left: 16px;
  margin-top: -45px;

  align-content: center;
  text-align: center;
}
.item3 {
  background-color: #95b226;
  color: white;
  position: relative;
  padding: 10px;
  width: 174px;
  height: 40px;
  border: none;
  font-weight: 500;
  border-radius: 47px;
  margin-left: 16px;
  margin-top: -45px;

  align-content: center;
  text-align: center;
}
.item4 {
  background-color: #95b226;
  color: white;
  position: relative;
  padding: 10px;
  width: 174px;
  height: 40px;
  border: none;
  font-weight: 500;
  border-radius: 47px;
  margin-left: 16px;
  margin-top: -45px;

  align-content: center;
  text-align: center;
}

.p1 {
  padding: 20px;
}

.story,
.img1 {
  background-color: white;
  border-radius: 19px;
  padding: 0px 0px 10px;
}
.view {
  text-align: center;
}

/* footer */
.kids {
  background-color: #01acfd;
  color: white;
  display: grid;
  padding: 100px;
  grid-template-columns: repeat(3, 1fr);
}
.ulu {
  list-style: none;
}
.png {
  text-decoration: none;
  text-align: center;
  color: white;
  font-weight: 600;
  font-size: 20px;
}
.logo {
  width: 100px;
  height: 100px;
  margin: 10px;
}
.sc {
  text-align: center;
}
.school {
  font-weight: 700;
  font-size: 24px;
}
.tc {
  text-align: center;
}
.touch {
  font-weight: 700;
  font-size: 26px;
}
.kiddo {
  font-weight: 400;
  font-size: 18px;

  text-align: start;
}
.logo {
  align-content: start;
  margin-left: -10px;
}
.edu {
  text-align: start;
}
.school {
  font-weight: 700;
  font-size: 24px;
  text-align: start;
  margin-left: 38px;
}

.ulu {
  text-align: start;
}
.png {
  font-weight: 500;
  font-size: 20px;
}
.sc {
  margin-left: 60px;
}

/* media for small device*/
@media only screen and (max-width: 576px) {
  body {
    margin: auto;
  }
  .navbar {
    justify-content: space-between;
    align-items: center;
    display: flex;
    flex-direction: column;
    padding: 5px;
    margin-top: 8px;
  }
  .imgb {
    height: 380px;
    width: 340px;
  }
  .scl {
    display: none;
  }
  .imgg {
    width: 80px;
    height: 80px;
  }
  .nav-links {
    flex-direction: column;
    justify-items: center;
    align-items: center;
  }
  .btn {
    width: 100px;
    text-align: center;
    align-items: center;
    margin: auto;
  }
  .enroll {
    display: flex;
    flex-direction: column-reverse;
  }
  .Curriculum-container {
    display: flex;
    flex-direction: column;
    gap: 10px;
    padding: 10px;
    margin-top: 20px;
  }
  .h1 {
    margin: auto;
    font-size: 30px;
  }
  .kind-1 {
    margin: auto;
  }
  .stories {
    display: none;
  }
  .storie {
    display: grid;

    grid-template-columns: repeat(2, 1fr);
    grid: 5px;
    margin: auto;
  }
  .Our {
    margin: 40px;
    text-align: center;
    font-size: 26px;
  }
  .img1 {
    border-radius: 10px;
    height: auto;
    width: 170px;
  }
  .kids {
    display: flex;
    flex-direction: column;
    justify-content: start;
    align-content: start;
  }

  .item1 {
    background-color: #95b226;
    color: white;
    position: relative;
    padding: 10px;
    width: 130px;
    height: 15px;
    border: none;
    font-weight: 500;
    border-radius: 47px;
    margin-left: 16px;
    margin-top: -33px;
    align-content: center;
    text-align: center;
  }
  .item1 {
    background-color: #95b226;
    color: white;
    position: relative;
    padding: 10px;
    width: 130px;
    height: 15px;
    border: none;
    font-weight: 500;
    border-radius: 47px;
    margin-left: 16px;
    margin-top: -33px;
    align-content: center;
    text-align: center;
  }
  .item2 {
    background-color: #5d58f0;
    color: white;
    position: relative;
    padding: 10px;
    width: 130px;
    height: 15px;
    border: none;
    font-weight: 500;
    border-radius: 47px;
    margin-left: 16px;
    margin-top: -33px;
    align-content: center;
    text-align: center;
  }
  .item3 {
    background-color: #95b226;
    color: white;
    position: relative;
    padding: 10px;
    width: 130px;
    height: 15px;
    border: none;
    font-weight: 500;
    border-radius: 47px;
    margin-left: 16px;
    margin-top: -33px;
    align-content: center;
    text-align: center;
  }
  .item4 {
    background-color: #95b226;
    color: white;
    position: relative;
    padding: 10px;
    width: 130px;
    height: 15px;
    border: none;
    font-weight: 500;
    border-radius: 47px;
    margin-left: 16px;
    margin-top: -33px;
    align-content: center;
    text-align: center;
  }

  .dupli {
   
  }
}

@media only screen and (max-width: 992px) {
  body {
    margin: auto;
  }
  .navbar {
    display: flex;
    justify-content: space-around;

    padding: 10px;
    margin-top: 10px;
    margin-right: 70px;
    margin-left: 70px;
  }
  .menu {
    list-style: none;

    align-items: center;
  }
  .nav-links {
    text-align: center;
    justify-items: center;
    align-items: center;
    margin-left: 45px;
  }

  .empower,
  .age,
  .vision {
    font-size: 39px;
  }
  .imgb {
    height: auto;
    width: 340px;
    margin-bottom: 50px;
  }
  .btn {
    width: 180px;
    text-align: center;
    align-items: center;
    margin: auto;
  }

  .Curriculum-container {
    gap: 20px;
    padding: px;
    margin-top: 55px;
  }
  .h1 {
    margin: auto;
    font-size: 32px;
  }
  .kind-1 {
    margin: auto;
  }

  .Our {
    margin: 40px;
    text-align: center;
    font-size: 32px;
  }
  .img1 {
    border-radius: 10px;

    width: 170px;
  }

  .kiddo {
    font-weight: 400;
    font-size: 18px;

    text-align: start;
  }
  .logo {
    align-content: start;
    margin-left: -10px;
  }
  .edu {
    text-align: start;
  }
  .school {
    font-weight: 700;
    font-size: 24px;
  }

  .ulu {
    text-align: start;
  }
  .png {
    font-weight: 500;
    font-size: 20px;
  }
  .sc {
    margin-left: 20px;
  }

}

@media only screen and (min-width: 1140px) {
  .dupli {
    display:none ;
  }
}
