@import url("https://fonts.googleapis.com/css2?family=Quicksand:wght@300..700&display=swap");

.quicksand {
  font-family: "Quicksand", serif;
  font-optical-sizing: auto;
  font-weight: 400;
  font-style: normal;
}

.display-flex {
  display: flex;
}
.navbar {
  justify-content: space-around;
  display: flex;
  padding: 10px;
  margin-top: 10px;
}
.menu {
  list-style: none;
  margin-right: 45px;
  align-items: center;
}
.nav-link-0 {
  text-decoration: none;
  font-weight: 500;
  font-size: 20px;
  color: orange;
}
.nav-link-1 {
  text-decoration: none;
  font-weight: 500;
  font-size: 20px;
  color: skyblue;
}
.nav-link-2 {
  text-decoration: none;
  font-weight: 500;
  font-size: 20px;
  color: #05d4df;
}
.nav-link-3 {
  text-decoration: none;
  font-weight: 500;
  font-size: 20px;
  color: #5d58ef;
}

.btn-1 {
  background-color: orange;
  color: white;
  padding: 10px 10px 10px 10px;
  width: 197px;
  height: 50px;
  border: none;
  font-weight: 600;
  border-radius: 12px;
  margin-left: 186px;
}

/* content */
.empower {
  font-weight: 700;
  color: orange;
  font-size: 56px;
}
.age {
  font-weight: 700;
  color: black;
  font-size: 56px;
}
.vision {
  color: skyblue;
  font-size: 56px;
  font-weight: 700;
}
.enroll {
  display: flex;

  align-items: center;

  gap: 50px;
  /* margin: 100px 100px; */
  margin-left: 100px;
  margin-right: 100px;
}
/* main */
.h1 {
  font-weight: 700;
  font-size: 46px;
  color: #000000;
}
.bg-1 {
  background-image: url(../B11-A2-Kids-School/assets/bg.png);
  background-size: cover;
  background-repeat: no-repeat;
  /* height: 1vh; */
  text-align: center;
}
.Curriculum-container {
  display: flex;
  gap: 28.29px;
  margin-top: 100px;
  padding-left: 80px;
  padding-right: 80px;
  margin-bottom: 100px;
}
.Curriculum {
  padding: 40.67px;
  box-shadow: 0px 0px 28.3px 0.94px rgba(0, 0, 0, 0.05);
  border-radius: 18.86px;
}
.kinder {
  text-decoration: none;
  font-weight: 700;
  font-size: 15.09px;
  color: #64c8ff;
}
.elementary {
  text-decoration: none;
  font-weight: 700;
  font-size: 15.09px;
  color: #f0aa00;
}
.middle {
  text-decoration: none;
  font-weight: 700;
  font-size: 15.09px;
  color: #8700ff;
}
#grad-1 {
  background-image: linear-gradient(to top, white, #def5ff);
}
#grad-2 {
  background-image: linear-gradient(to top, white, #fff4dc);
}
#grad-3 {
  background-image: linear-gradient(to top, white, #f2e8ff);
}
.btn-2 {
  border: none;
  border-radius: 100px;
  color: white;
  padding: 10px 13px;
  background-color: orange;
  /* margin-top: 10px; */
  margin-bottom: 20px;
}
.btn-3 {
  border: none;
  border-radius: 12px;
  color: white;
  background-color: black;
  margin: 80px 60px;
  padding: 10px 61px;
}
.btn-4 {
  border: none;
  border-radius: 12px;
  color: white;
  background-color: black;
  /* margin: 80px 60px; */
  padding: 10px 61px;
}
.Our {
  margin: 60px;
}
.str {
  display: flex;
  gap: 20px;
  align-items: center;
  flex: auto;
  justify-content: center;
  padding-left: 100px;
  padding-right: 100px;
}
.storie {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  gap: 20px;
  /* grid-template-columns: repeat(auto-fit, minmax(300px, 1fr)); */
}
/* footer */
.kids {
  background-color: #01acfd;
  color: white;
  display: grid;
  padding: 100px;
  grid-template-columns: repeat(3, 1fr);
  /* display: flex;
  align-items: center;
  justify-content: center; */
}
.ulu {
  list-style: none;
}
.png {
  text-decoration: none;
  text-align: center;
  color: white;
  font-weight: 600;
  font-size: 20px;
}
.sc {
  text-align: center;
}
.school {
  font-weight: 700;
  font-size: 24px;
}
.tc{
  text-align: center;

}
.touch {
  font-weight: 700;
  font-size: 26px;
}
